/* From create-react-app */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

form {
  border: 3px solid #f1f1f1;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  border-radius: 50%;
  margin: auto;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-btn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.login-btn:hover {
  opacity: 0.8;
}

.container {
  margin: 0 auto;
  padding: 16px;
}

.center {
  text-align: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.polls-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 5;
  gap: 2em;
  margin: 0 auto;
  width: 95%;
  border: 3px solid rgb(119, 119, 119);
  padding: 10px;
}

.answered {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  border: 2px solid rgb(119, 119, 119);
}

.unanswered {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  border: 2px solid rgb(119, 119, 119);
}

.poll {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  margin: 8px;
  border: 1px solid rgb(119, 119, 119);
}

.poll a {
  color: rgba(59, 196, 59, 0.846);
  border: 2px solid rgba(59, 196, 59, 0.846);
  align-self: stretch;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}

.option-btn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.new-page .option-btn {
  width: 100px;
  border-radius: 5px;
}

.option-btn:hover {
  opacity: 0.8;
}

/* Leaderboard */
.leaderboard {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.leaderboard td,
.leaderboard th {
  border: 1px solid #ddd;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}

.leaderboard tr:nth-child(even) {
  background-color: #f2f2f2;
}

.leaderboard tr:hover {
  background-color: rgb(236, 236, 236);
}

.leaderboard th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(169, 169, 169);
  color: white;
}

.user-details {
  position: relative;
}
.user-details img {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
}

.user-name {
  position: absolute;
  top: 0;
  left: 40px;
  font-size: larger;
  font-weight: 100;
}
.user-id {
  margin: 0;
  font-size: smaller;
  color: rgb(72, 72, 72);
}
